langchain 
langchain-community 
langchain-openai 
langchain-experimental 
tiktoken  
python-dotenv
fastapi
fastapi[standard] 
uvicorn
python-multipart
pydantic
requests  
langchain-community
pytest
langchain_chroma
langgraph
llama_index
# nemoguardrails
langchain_mongodb
forex_python
pandas_ta
yfinance