langchain 
langchain-community 
langchain-openai 
langchain-experimental 
tiktoken  
pypdf
python-dotenv
fastapi
fastapi[standard] 
uvicorn
python-multipart
pydantic
langchain-aws
python-docx
pillow
beautifulsoup4
PyPDF2
office365-rest-python-client  
python-dotenv
pillow
requests 
beautifulsoup4 
nltk
python-frontmatter
PyMuPDF
cairosvg
langchain_chroma
unstructured
unstructured[all-docs]
unstructured[pdf]
markdown
boto3
botocore
